@inherits Umbraco.Web.Mvc.UmbracoViewPage<HighlyDeveloped.Core.ViewModel.ForgottenPasswordViewModel>
@using HighlyDeveloped.Core.Controllers
@*Are we already logged in, show a message*@
@if (Umbraco.MemberIsLoggedOn())
{
    <h2>You're already logged in</h2>
}
else if (TempData["status"] != null && (string)TempData["status"] == "OK")
{
    @*Success message, Email sent out*@
    <p>
        An email has been sent to the email you've provided. Please follow the instrucions therein.
    </p>
}
else
{
    @*Show the form*@
    <div class="container">
        <div class="row">
            <div class="col">
                @*using umbraco form and post back to login controller with a method called HandleForgottenPassword*@
                @using (Html.BeginUmbracoForm<LoginController>("HandleForgottenPassword"))
                {
                    <p>Enter your email address for the password reset link.</p>
                    @Html.AntiForgeryToken();
                    @Html.LabelFor(m => m.EmailAddress)
                    @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email Address", @class = "form-control" })
                    <br />
                    <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                }
                @*Otherwise bail out of process, back to the login*@
                <a href="/Login">Back to login</a>
            </div>
        </div>
    </div>
}

